@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-size: 15px; }

p.top-30 {
  margin-top: 2rem; }

p.bottom-45 {
  margin-bottom: 3rem !important; }

.body {
  display: flex;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%); }

.column {
  color: #fff;
  padding: 4rem; }
  .column_head {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5rem;
    padding-top: 30px; }
  .column_paragraph {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 0.8rem;
    padding-top: 30px;
    padding-bottom: 50px; }
  .column--1 {
    background: #e38826; }
  .column--2 {
    background: #006970; }
  .column--3 {
    background: #004241; }
