.activity_card {
    &_top {
        display: flex;
        width: 400px;
    }

    &_bottom {
        display: flex;
        position: absolute;
    }

    &_img {
        display: block;
        border-radius: 20px;
        width: 100%;
    }
}

.work {
    background: $light-red-work;
}

.play {
    background: $soft-blue;
}

.study {
    background: $light-red-study;
}

.exercise {
    background: $lime-green;
}

.social {
    background: $violet;
}

.self_care {
    background: $soft-orange;
}