.card {
    display: flex;
    margin-bottom: 5em;
    width: 19rem;

    &_left {
        flex-grow: 1;
    }

    &_right {
        flex-grow: 2;
    }

    &_section {
        padding: 1em;
    }
}