.profile {
    &_head {
        background: $blue;
        border-radius: 20px;
    }

    &_img {
        border: 2px solid #fff;
        border-radius: 50%;
        width: 4em;
    }

    &_text {
        align-self: center;
        justify-self: end;
        font-size: 1rem;
    }

    &_bottom {
        display: flex;
        flex-grow: 2;
        position: absolute;
        border-radius: 20px;
        top: 20px;
        background: $dark-blue;
        height: 130px;
        align-items: flex-end;
        z-index: -1;

        & > button {
            flex-grow: 1;
        }
    }
}
