.columnContainer {
    padding-top: 30px;
    min-height: 15em;
}

.column {
    color: #fff;
    padding: 2.5rem;

    &_head {
        font-family: 'Big Shoulders Display', cursive;
        font-size: 2.5rem;
        color: $transparent-white;
    }

    &_paragraph {
        font-family: 'Lexend Deca', sans-serif;
        font-size: 0.7rem;
        padding-top: 30px;
        color: $very-light-gray;
    }

    &--1 {
        background: $bright-orange;
    }

    &--2 {
        background: $dark-cyan;
    }

    &--3 {
        background: $very-dark-cyan;
    }
}