.column {
    color: #fff;
    padding: 4rem;

    &_head {
        font-family: 'Big Shoulders Display', cursive;
        font-size: 2.5rem;
        padding-top: 30px;
    }

    &_paragraph {
        font-family: 'Lexend Deca', sans-serif;
        font-size: 0.8rem;
        padding-top: 30px;
        padding-bottom: 50px;
    }

    &--1 {
        background: $bright-orange;
    }

    &--2 {
        background: $dark-cyan;
    }

    &--3 {
        background: $very-dark-cyan;
    }
}